

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.page-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1;
}

/* SECTION INICIAL */

#section-inicial{
    background-image: url("../assets/img/home/bodyBg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 850px;
    position: relative;
}

#manchete{
    background-color: transparent;
    margin: 70px;
    font-family: "Ancizar";
    margin-left: 150px;
    margin-top: 110px;
}

#manchete-opener{
    color: #971e1e;
    font-size: 40px;
}

#manchete span{
    color: #6e0000;
    font-style: italic;
}

#manchete h1{
    font-size: 96px;
    line-height: 1;
}

#card-flutuante{
    background-color: #ededed;
    width: 950px;
    margin-left: 150px;
    overflow: visible;
    position: absolute;
    bottom: -180px;
    z-index: 2;
    box-shadow: 0px 0px 100px 0px #00000061;
    border-left: 10px solid #6E0000;
    border-radius: 0 10px 10px 0;
    padding: 0;
}

/* SECTION ROSA */

#section-rosa{
    position: relative;
    isolation: isolate;
    background-color: #ffc6cd;
    padding: 10px;
    z-index: 1;
    overflow: hidden;
}

#section-rosa::before{
    content: "";
    position: absolute;
    width: 800px;
    height: 800px;
    background: #FF465B;
    border-radius: 50%;
    filter: blur(200px);
    top: 50%;
    right: -350px;
    transform: translateY(-50%);
    opacity: 0.9;
    z-index: -1;
    pointer-events: none;
}

#section-rosa > *{
    position: relative;
    z-index: 2;
}

/* RESPONSIVIDADE */

@media(max-width: 768px){

    #section-inicial{
        min-height: 700px;
    }

    #manchete{
        margin: 32px;
    }

    #manchete-opener{
        font-size: 24px;
    }

    #manchete h1{
        font-size: 52px;
        line-height: 1.1;
    }

    #section-rosa{
        padding: 80px 0;
    }

    #section-rosa::before{
        width: 500px;
        height: 500px;
        filter: blur(140px);
        right: -300px;
    }

}

#card-flutuante p{
    font-size: 28px;
    font-family: '42dotsans';
    text-align: justify;
    color: #000;
    margin-left: 74px;
    margin-bottom: 40px;
}

#card-flutuante img{
    height: 350px;
    margin: 20px;
}

.botoes-card-flutuante{
    margin-left: 68px;
    font-size: 23px;
}

.botoes-card-flutuante button:hover{
    background: #910000;
    transform: translateY(-1px);
}

#section-rosa-textos{
    height: 350px;
    font-family: "Ancizar";
    font-size: 50px;
    color: #971E1E;
}

#section-rosa-texto1{
    margin-top: 200px;
    margin-left: 35px;
}

#section-rosa-texto2{
    font-size: 150px;
    color: #FF0040;
    line-height: 70px;
    margin-left: 140px;
}

#section-rosa-texto3{
    margin-left: 155px;
}