.programacao-page {
    min-height: 100vh;
    background: #f5f3f3;
}

.programacao-content {
    display: grid;
    grid-template-columns: 420px 1fr;
    gap: 40px;

    margin-top: 50px;
    margin-bottom: 60px;
}

.sidebar-programacao {
    width: 420px;
}

.sidebar-programacao h1 {
    font-size: 82px;
    line-height: .95;

    color: #6E0000;
    font-family: serif;
}

.sidebar-programacao>p {
    color: #555;
    font-size: 28px;
}

.eventos-lista {
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    max-height: 500px;
    overflow-y: auto;

    padding-left: 12px;
    padding-right: 12px;

    border-left: 2px solid #d8d8d8;
}

.eventos-lista::-webkit-scrollbar {
    width: 6px;
}

.eventos-lista::-webkit-scrollbar-track {
    background: transparent;
}

.eventos-lista::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    border-radius: 999px;
}

.evento-card {
    background: white;

    border-radius: 30px;

    padding: 18px 22px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0px 4px 15px rgba(0, 0, 0, .05);

    cursor: pointer;

    transition: .25s;
}

.evento-card:hover {
    transform: translateY(-2px);
}

.evento-card.ativo {
    background: #ffc5ce;
}

.evento-card h3 {
    color: #6E0000;
    font-size: 30px;

    margin-bottom: 10px;
}

.evento-card p {
    font-size: 15px;
    color: #555;

    margin: 0;

    max-width: 220px;

    line-height: 1.4;
}

.evento-card img {
    width: 85px;
    height: 85px;

    object-fit: cover;

    border-radius: 18px;
}

.evento-detalhes {
    flex: 1;

    background: #f8f6f6;

    border-radius: 35px;

    padding: 30px;

    display: flex;
    gap: 40px;

    box-shadow: 0px 8px 35px rgba(0, 0, 0, .06);
}

.imagem-evento{
    width: 430px;
    height: 640px;

    object-fit: cover;

    border-radius: 24px;

    flex-shrink: 0;
}

.infos-evento {
    flex: 1;
    min-width: 0;
}

.infos-evento h2{
    font-size: 82px;
    min-width: 350px;
    margin-bottom: 10px;
}
.infos-evento span {
    color: #666;
    font-size: 20px;
}

.info-box {
    background: white;

    padding: 24px;

    border-radius: 20px;

    margin-top: 22px;

    box-shadow: 0px 4px 15px rgba(0, 0, 0, .05);
}

.info-box h4 {
    color: #d48b8b;

    font-size: 18px;

    margin-bottom: 10px;
}

.info-box p {
    margin: 0;

    color: #555;

    font-size: 16px;
}