button {
    height: 70px;
    width: 300px;
    border-radius: 5px;
    background: #971E1E;
    border: 0;
    color: #fff;
    margin: 6px;
    font-size: clamp(18px, 2vw + 10px, 26px);
}

button:hover{
    background-color: #b62929;
}